@font-face {
    font-family: 'Airbnb Cereal App Book';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Book'), url('Lib/font/AirbnbCerealBook.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Airbnb Cereal App Light';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Light'), url('Lib/font/AirbnbCerealLight.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Airbnb Cereal App Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Medium'), url('Lib/font/AirbnbCerealMedium.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Airbnb Cereal App Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Bold'), url('Lib/font/AirbnbCerealBold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Airbnb Cereal App Extra Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Extra Bold'), url('Lib/font/AirbnbCerealExtraBold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Airbnb Cereal App Black';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Black'), url('Lib/font/AirbnbCerealBlack.woff') format('woff');
    }

body {
    background-color: #101010;
    width: 100%;
    height: 100%;

    overflow: auto;
    transition: 0.67s;
}

h1 {
    font-family: 'Airbnb Cereal App Extra Bold';
    src: local('Airbnb Cereal App Extra Bold'), url('Lib/font/AirbnbCerealExtraBold.woff') format('woff');
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 48px;
    text-align: center;
    margin: 0 0 12px 0;
    color: #ea7059;
}

h3 {
    font-family: 'Airbnb Cereal App Bold';
    src: local('Airbnb Cereal App Bold'), url('Lib/font/AirbnbCerealBold.woff') format('woff');
    font-weight: normal;
    letter-spacing: 1.5px;
    text-align: center;
    color: white;
}

p {
    font-family: 'Airbnb Cereal App Book';
    src: local('Airbnb Cereal App Book'), url('Lib/font/AirbnbCerealBook.woff') format('woff');
    font-weight: normal;
    letter-spacing: 0.2px;
    text-align: center;
    font-size: 16px;
    margin: 0;
    color: white;
}

#main-content {
    background-color: #101010;
    position: absolute;
    height: 300px;
    width: 300px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    transition: 0.67s;
}

#blog {
    align-items: center;
    margin-top: auto;
    margin-bottom: 32px;
    background-color: #0e0e0e;
    border-radius: 6px;
    text-align: center;
    padding: 24px;
}

#blog img.rounded-corners {
    border-radius: 6px;
    width: 250px;
    height: 250px;
    margin: 8px 0 16px 0;
    transition: 0.3s;
}

#blog img.rounded-corners:hover {
    transition: 0.3s;
    border-radius: 12px;
    width: 250px;
    height: 250px;
    margin: 8px 0 16px 0;
    color: #0e0e0e;
    opacity: 25%;
}

#kokbelumtidur {
    border-radius: 6px;
    margin-top: 32px;
    background-color: #0e0e0e;
    padding-top: 12px;
    padding-bottom: 12px;
}

.timestamp {
    margin-bottom: 16px;
}

#blog img {
    width: 32px; 
    height: 32px; 
    margin-top: 32px;
}

#blog img:hover {
    width: 32px; 
    height: 32px; 
    margin-top: 32px;
}

#blog p {
    font-family: "Airbnb Cereal App Book";
    src: local('Airbnb Cereal App Book'), url('Lib/font/AirbnbCerealBook.woff') format('woff');
    font-size: 14px;
    color: #dcdcdc;
}

#blog h3 {
    margin: 16px 0 8px 0;
    font-size: 16px;
}

#blog iframe {
    margin-top: 16px;
}

#clock {
    width: 320px;
}

#formArea {
    background-color: #0e0e0e;
    border-radius: 4px;
    padding: 12px 18px 12px 18px;
}

#keluhkesahForm {

}

#keluhkesahForm label {
    color: white;
    text-align: center;
    width: auto;
    font-family: "Airbnb Cereal App Book";
    display: block;
    margin-bottom: 12px;
}

#keluhkesahForm textarea {
    max-width: 240px;
    border-radius: 4px;
    background-color: #101010;
    color: white;
    padding: 12px;
    font-family: "Airbnb Cereal App Book";
    letter-spacing: 0.67px;
    border-style: none;
    min-width: 240px;
    min-height: 50px;
    overflow: hidden;
}

#keluhkesahForm p {
    margin-top: 8px;
    font-size: 12px;
}